.page {
    min-width: 1100px;
    /* мы ещё не умеем делать мобильную версию сайта, */
    /* поэтому выше установлена минимальная ширина страницы */
    max-width: 1600px;
    /* выше установили ограничение по максимальной ширине */
    margin: 0 auto;
    /* выше для экранов больше 1600px отцентрировали весь контент */
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    /* выше установили ограничения для секции */
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo_place_header {
    width: 228px;
    height: 32px;
    position: absolute;
    top: 30px;
    left: 64px;
    z-index: 2;
}

.header__title {
    width: 730px;
    line-height: 96px;
    font-size: 102px;
    font-weight: 600;
    margin-left: 64px;
    z-index: 2;
}

.header__subtitle {
    width: 388px;
    min-height: 25px;
    position: absolute;
    left: 64px;
    bottom: 30px;
    font-size: 18px;
    font-style: normal;
    z-index: 2;
}

.header__link {
    color: #2f80ed;
    text-decoration: none;
}

.header__main-illustration {
    width: 765px;
    height: 608px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.header__square-pic {
    width: 568px;
    height: 568px;
    position: absolute;
    top: 64px;
    right: 0;
    background-color: #2f80ed;
    z-index: 0;
}


/*секция description*/

.description {
    padding-top: 100px;
    display: flex;
    justify-content: center;
}

.two-columns {
    max-width: 80%;
    display: flex;
    justify-content: space-between;
}

.two-columns__brief {
    width: 175px;
    margin: 0;
    padding: 0;
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
    color: #2f80ed;
}

.two-columns__main-text {
    width: 80%;
    display: flex;
    flex-direction: column;
    min-width: 784px;
    gap: 30px;
    /*расстояние между абзацами*/
}

.two-columns__paragraph {
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
}

.two-columns__span-accent {
    font-weight: 600;
}


/*секция digits*/

.digits {
    padding: 100px 0 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-title {
    width: 60%;
    display: flex;
    justify-content: center;
    line-height: 1.15;
    font-size: 60px;
    font-weight: 600;
    margin: 0 0 20px 0;
}

.section-subtitle {
    width: 60%;
    display: flex;
    justify-content: center;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    margin: 0;
}

.table {
    width: 1100px;
    list-style: none;
    margin: 0;
    padding: 60px 0 0 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    row-gap: 60px;
}

.table__cell {
    width: 250px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 0;
}

.table__heading {
    line-height: 1.15;
    font-size: 24px;
    font-weight: 600;
    margin: 0;
}

.table__text {
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
    row-gap: 20px;
}


/*секция feynman*/

.feynman {
    min-height: 890px;
    background-image: url("../images/feynman.png");
    background-repeat: no-repeat;
    background-position: bottom left;
    background-color: #f2f2f2;
    padding-top: 100px;
}

.feynman__title {
    width: 648px;
    line-height: 1.15;
    font-size: 120px;
    font-weight: 600;
    margin: 0 auto 70px auto;
    text-align: center;
}

.feynman__subtitle {
    width: max-content;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    margin: auto;
    text-align: center;
}

.feynman__link {
    position: absolute;
    right: 48px;
    text-decoration: none;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    color: #2f80ed;
}


/*секция kaufman*/

.kaufman {
    padding: 90px 0 90px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1f1f1f;
}

.section-title_theme_dark {
    color: white;
    border: 2px solid red;
}

.section-subtitle_theme_dark {
    color: white;
    border: 2px solid red;
}


/* и элемента с модификатором вида ключ-значение */

.table__cell_theme_dark {
    width: 200px;
    color: white;
    margin-right: 0;
    margin-top: 80px;
}